* {
  box-sizing: border-box;
  align-content: center;
  margin-right: 0px;
}

body, html {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0;
  margin-right: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #E600A5;
  height: 50px; 
  margin-right: 0px;
  
}



/* Menu Design */

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 0px;
  justify-content:space-between;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin-right: 0px;
}
.logo {
  display: flex;
  flex-direction: row;
  padding: 10px;  
}

.menu nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
}

.menu nav ul li {
  margin: 5px 10px;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.menu nav ul li:hover {
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  margin-bottom: 0px;
}
 

/* portfolio Link */

#portfolio {
  background: linear-gradient(to right, #EBEA55, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#portfolio:hover {
  border: 1px solid #E600A5;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;

}

.portfolioMouseDown {
  font-size: 18px;
  text-align: center center;
  
}


/* Abot me Section */

.aboutMe {
height: auto;
max-width: 600px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
margin-bottom: 30px;
gap: 25px;
background: rgb(255, 255, 255, 0.6);
mix-blend-mode: lighten;
border-radius: 25px;
flex: auto;
order: 0;

}

.aboutMe p {
text-align: center;

}

.profileImage img {
width: 300px;
height: 300px;
border: 2px solid #E600A5;
border-radius: 1000px;
align-items: center;
margin-top: 100px;

}


/* .aboutMe .resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  height: auto;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #E600A5;
  backdrop-filter: blur(5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #E600A5;
  border-radius: 25px;
  flex: none;
  order: 1;
  flex-grow: 0;
  } */

.buttonHoveroff {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  height: auto;
  background-color: #fff;
  border: 1px solid #E600A5;
  color: #E600A5;
  backdrop-filter: blur(5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border-radius: 25px;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  }


.buttonHoverOn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  height: auto;
  background-color: #E600A5;
  border: 1px solid #E600A5;
  color: #ffffff;
  backdrop-filter: blur(5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border-radius: 25px;
  flex: none;
  order: 1;
  flex-grow: 0;
  }

  .menuItemHoveroff {display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: auto;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
  
  
  .menuItemHoverOn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: auto;
    color: #000;
    font-family: 'Poppins';
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 700;
    }

.mousedown {
  background-color:#EBEA55;
  border: 1px solid #EBEA55;
  color: #ffffff;
}

.mouseupup {
  background-color:#ffffff;
  border: 1px solid #E600A5;
  color: #ffffff;
}

.mousedownMenuItem {
  margin: 5px 10px;
  font-family: 'Poppins', sans-serif;
  color: #EBEA55 !important;
  cursor: pointer;
}

.mouseupMenuItem {
  margin: 5px 10px;
  font-family: 'Poppins', sans-serif;
  color: #E600A5;
  cursor: pointer;
    
}



/* My Skills Section */

.mySkills {
  display: flex;
  flex-direction: column;
  margin-top: 0px;

}

.mySkills h3 {
  font-size: 18px !important;
  font-weight: bold;
  margin-bottom: 50px;
}

.flexContainer {
  display: flex;
  width: 600px;
  justify-content: space-between;
  background-color: #fff;
  
  border-radius: 25px;
  padding: 50px;
}

.flexContainer > div {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0px solid #E600A5;
  gap: 25px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-content: center;
  padding: 20px;
  text-align: center;
 
}

/* my skills */

.mySkills .flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.mySkills .skill {
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mySkills .skill.extra {
  display: none;
}

.mySkills.expand .skill {
  opacity: 1;
}

.mySkills.expand .skill.extra {
  display: block;
  opacity: 1;
}

.mySkills .myButton {
  margin-top: 15px;
  cursor: pointer;
}

.mySkills.expand .myButton {
  display: none;
}

#toggleButton {

  display: flex;
  align-self: self-end;
  padding: 10px 30px;
  height: auto;
  background-color: #fff;
  border: 1px solid #E600A5;
  color: #E600A5;
  backdrop-filter: blur(5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border-radius: 25px;

}

#toggleButtonLess {

  display: flex;
  align-self: self-end;
  padding: 10px 30px;
  height: auto;
  background-color: #fff;
  border: 1px solid #E600A5;
  color: #E600A5;
  backdrop-filter: blur(5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  border-radius: 25px;

}

/* My Work Section */

.myWork {
  margin-top: 50px;
  margin-bottom: 50px;
}

.myWork h2 {
  font-size: 24px !important;
  font-weight: bold !important;
 
}

.myWork p {
  margin-bottom: 25px;
}

/* style of the grid */

.workGrid {
  display: grid;
  grid-template-columns: repeat(2 , 2fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "image1 info1"
    "image2 info2"
    "image3 info3"
    "viewAll viewAll";
}

.workGrid > div {
  background-color: #ffffff;
}

.workGrid h4 {
  font-size: 50px !important;
  text-align: left !important;
  margin-left: 0px !important;
  margin-bottom: 25px !important;
}

.workGrid > div:nth-child(1) {
  grid-area: image1;
  object-fit: fill;
  border: 1px solid #E600A5;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);  
 
}

.workGrid > div:nth-child(2) {
  grid-area: info1;
  padding: 50px;
  border-radius: 25px;
  margin-top: 0px;
  margin-right: 50px;
  padding: 50px;
  border: 1px solid #E600A5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); 
  gap: 50px!important;
}

.workGrid > div:nth-child(3) {
  grid-area: image2;
  object-fit: fill;
  border: 1px solid #E600A5;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-image: url(images/Frame430.png);
  background-size: cover;
  background-position: center;
  
}

.workGrid > div:nth-child(4) {
  grid-area: info2;
  padding: 50px;
  border-radius: 25px;
  margin-top: 0px;
  margin-right: 50px;
  padding: 50px;
  border: 1px solid #E600A5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.workGrid > div:nth-child(5) {
  grid-area: image3;
  object-fit:fill;
  border: 1px solid #E600A5;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-image: url(images/Frame430.png);
  background-size: cover;
  background-position: center;
    
}

.workGrid > div:nth-child(6) {
  grid-area: info3;
  padding: 50px;
  border-radius: 25px;
  margin-top: 0px;
  margin-right: 50px;
  padding: 50px;
  border: 1px solid #E600A5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
/* grid style ends  */

/* View all button */
.workGrid > div:nth-child(7) {
  grid-area: viewAll;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
 }

.viewAll button {
  align-content: center; 
  cursor: pointer;


}
/* work grid image */
.workGrid img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  border: none;
  border-radius: 25px;
}

.workGrid h4 {
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  text-align: start;
}


.workGrid p {
  font-size: 14px;
  line-height: 1.5;
  text-align: start;
  
}


/* view all */

/* .workGrid button {
  background-color: #E600A5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 50px;
} */

/* footer style */

footer {
  Display: flex;
  flex-direction: column;
  background-color: #E600A5;
  width: 100%;
  height: auto;
  padding: 0;

}

footer ul {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  list-style: none;
  color: white;
}

footer li {
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

.flexContainer {  
  display: Flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}



footer ul li {
  font-size: 12px;
  height: 12px;
}

.line svg {
  max-width: 100%;
  height: auto;
  margin: 50px;
}

/* mobile Query */

@media(max-width: 600px) {


.workGrid 
  {
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "image1"
    "info1"
    "image2"
    "info2"
    "image3"
    "info3"
    "viewAll";
    padding: 10px;
    margin-bottom: 0px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.workGrid > div:nth-child(1) {
    border-radius: 25px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    align-items: center;
    object-fit: cover;
    width: 350px;s
  }

.workGrid > div:nth-child(2) {
    border-radius: 25px;
    margin-top: 0px;
    padding-top: 25px;
    padding: 25px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 305%;
    align-items: center;
    width: 350px;
}
 
.workGrid > div:nth-child(3) {
    border-radius: 25px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    align-items: center;
    object-fit: cover;
    width: 350px;
       
}

.workGrid > div:nth-child(4) {
    border-radius: 25px;
    margin-top: 0px;
    padding-top: 25px;
    padding: 25px;
    margin-left: 0px;
    margin-right: 0px ;
    line-height: 305%;
    align-items: center;
    width: 350px;
}

.workGrid > div:nth-child(5) {
    border-radius: 25px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    align-items: center;
    object-fit: cover;
    width: 350px;

}

.workGrid > div:nth-child(6) {
    border-radius: 25px;
    margin-top: 0px;
    padding-top: 25px;
    padding: 25px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 305%;
    align-items: center;
    width: 350px;
    }
.flexContainer 
  {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0px;
    width: 300px;
  }

.aboutMe 
  {
    width: 300px;
    margin: 0px;
    background: transparent;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

.mySkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding left: 0px;
    padding-right: 0px;
    margin: 0px;
    width: 300px;
  }

.skill{
   width: 300px;
}

.mySkills h2 {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #e600a5;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 50px;
}

.workGrid > div h4 {
  font-size: 24px;
}

.workGrid > div p {
  font-size: 14px;
}

.header {

  height: auto;
  width: 100%;

}

.menu {
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-size: 14px;
  max-width: 100%;
}

.myProcess {
 width: 300px;
 border: 1px solid #E600A5;
}

.description {
  font-size: 12px;
  width: 300px;
  display: flex;
  width: 300px;
  margin: 0px;
}

.myProcessSection {
  width: 300px;
} 

p {
  width: 300px;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.toggle-list {
  width: 300px !important;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.svg {
  padding: 0px;
  margin: 0px;
}

.workGrid {
  font-size: 14px;
  padding: 0px;
  width: 350px;
}

.moreAboutMeSection {
  width: 350px;
  padding: 0px;
}

.h2 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.h3 {
  display: flex;
  flex-direction: column;
  width: 300px;
}

div.skill {
  width: 200px;
  padding: 0px;
  margin: 0px;
}

.moreAboutMe {
  width: 350px !important;
  border: 1px solid #E600A5;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  align-items: center;

}

.contactDetail {
  font-size: 18px;
  color: #343434;
  text-decoration: none;
  background-color: transparent !important;
  padding: 10px;
  border-radius: 25px;
  align-items: center !important;
  align-content: center !important;
  width: 300px;

}

.contactDetailIcon {
  width: 25px;
  height: 50  px;
  border-radius: 100px;

}

}









/* Javascript */


.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

/* Style the hamburger lines */
.hamburger__line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}


.processDescription {
  font-size: 12px;
}

.myProcess {
  font-size: 12px;
  color: #E600A5;
  margin-right: 0px;
  margin-top: 0px;
  width: auto;
  
}



.stepNumber {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900 !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color:#E600A5 !important;
  text-align: center !important;
}


/* Toggle List */

.toggle-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.toggle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  
}

.toggle-icon {
  margin-right: 0px;
}

.toggle-header {
  margin-bottom: 0;
  cursor: pointer;
  
}

.toggle-content {
  display: none;
  text-align: center;
}

.toggle-item.active .toggle-content {
  display: block;
  width: 300px;
}


.toggle-item.active .toggle-content {
  display: block;
}

.circle-icon {
  width: 25px;
  height: 25px;
  fill: #EBEA55; 
  margin-right: 8px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

/* more about me */

.moreAboutMeSection {
  display:flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  gap: 25px;
}

.moreAboutMeSection img {
  width: 300px;
}


  
  /* typography */
h1 {
  text-align: center !important;
  color: #E600A5 !important;
  font-size: 30px !important;
  font-weight: black !important;
  margin: 0px !important;
  }
  
  h2 {
  text-align: center !important;
  color: #E600A5 !important;
  font-size:30px !important;
  font-weight: Bold !important; 
  margin:5px !important;
  }
  
  h3 {
  text-align: center !important;
  color: #343434 !important;
  font-size:16px !important;
  font-weight: bold !important;
  margin:5px !important;
  }
  
  h4 {
    text-align: center !important;
    color: #343434 !important;
    font-size:16px !important;
    font-weight: bold !important;
    margin:5px !important;
    }
  
  p {
  font-style: normal !important;
  color:#343434 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  }

 
.title {
    font-size:16px!important;
    color:#343434 !important;
  }


.moreAboutMe {
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 100px;
  justify-content: center;

}

.contactDetail {
  font-size: 18px;
  color: #343434;
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 25px;
  text-align: center;

}

.contactDetailIcon {
  width: 25px;
  height: 50  px;
  border-radius: 100px;

}


 